{% extends 'flatpages/default.html' %}
 
{% block title %} Post detail {% endblock title %}
{% load custom_filters %}
{% block content %}

<table>
    <tr>
        <td>
            <b>
                № 
            </b>
        </td>
        
        <td>
            <b>
                &nbsp &nbsp Заголовок 
            </b>
        </td>

        <td>
            <b>
                  Текст 
            </b>
        </td>

        <td>
            <b>
                &nbsp Категория 
            </b>
        </td>
        <td>
            <b>
                Тип  &nbsp &nbsp &nbspпоста 
            </b>
        </td>

        <td>
            <b>
                Дата публикации 
            </b>
        </td>
    </tr>

    <tr>
        <td>
            {{ post.id }}
        </td>

        <td>
            {{ post.postTitle|default:"Без заголовка"|censor}}
        </td>
        <td>
            {{ post.postContent|censor }}
        </td>
        <td> 
            {{ category }}
        </td>
        <td>
            {{ post.categoryType}}
        </td>
        <td>
            {{ post.publicationDate|default:"Без даты" }}
        </td>
        <td>
            {% if perms.portal.change_post %}
            <a href="{% url 'post_update' pk=post.id %}">Изменить</a>
            {% endif %}
            {% if perms.portal.delete_post %}
            <a href="{% url 'post_delete' post.id %}">Удалить</a>
            {% endif %}
            </td>
    </tr>
</table>

<br>
<button> <a class="nav-link" href="/portal/">Вернуться</a> </button>

{% endblock content %}
